<footer class="bg-light section pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-11">
        <div class="section pt-0">
          <div class="row gy-4">
            <div class="col-lg-3 col-sm-6">
              {{ if site.Menus.footer_left }}
              <div class="h5 mb-4">{{ site.Params.footer_menu_left }}</div>
              <ul class="list-unstyled footer-list">
                {{ range site.Menus.footer_left }}
                <li><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
              {{ end }}
            </div>
            <div class="col-lg-3 col-sm-6">
              {{ if site.Menus.footer_middle }}
              <div class="h5 mb-4">{{ site.Params.footer_menu_middle }}</div>
              <ul class="list-unstyled footer-list">
                {{ range site.Menus.footer_middle }}
                <li><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
              {{ end }}
            </div>
            <div class="col-lg-3 col-sm-6">
              {{ if site.Menus.footer_right }}
              <div class="h5 mb-4">{{ site.Params.footer_menu_right }}</div>
              <ul class="list-unstyled footer-list">
                {{ range site.Menus.footer_right }}
                <li><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
              {{ end }}
            </div>
            <div class="col-lg-3 col-sm-6">
              <a class="d-block h5 mb-3" href="{{ site.BaseURL | absLangURL}}">
                {{ partial "logo.html" }}
              </a>
              <p class="mb-4">{{ site.Params.footer_content | markdownify }}</p>
              {{ with site.Params.social }}
              <ul class="list-inline social-icons">
                {{ range . }}
                <li class="list-inline-item"><a href="{{ .link | safeURL }}" title="{{ .title }}"><i
                      class="{{ .icon }}"></i></a></li>
                {{ end }}
              </ul>
              {{ end }}
            </div>
          </div>
        </div>
        {{ if site.Params.theme_copyright }}
        <div class="border-top border-default text-center py-4">
          <small class="content"> {{site.Params.copyright}}
          <!-- <small class="content"> {{site.Params.copyright}} | Theme by <a target="_blank" rel="noopener noreferrer" href="https://gethugothemes.com/">GetHugoThemes</a> -->
          </small>
        </div>
        {{ end }}

      </div>
    </div>
  </div>
</footer>