{{ define "main" }}

<!-- banner -->
{{ with .Params.banner }}
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h1 class="mb-4 pb-2">{{ .title | markdownify }}</h1>
        <p class="mb-4">{{ .content | markdownify }}</p>
        <div class="mb-5">
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | safeURL }}" title="{{ .label }}" class="btn btn-outline-primary m-2">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
        {{ partial "image" (dict "Src" .image "Alt" "banner image" "Size" "750x") }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /banner -->

<!-- clients_logo_slider -->
{{ if .Params.clients_logo_slider.enable }}
{{ with .Params.clients_logo_slider }}
<section class="section overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="h6">{{.title | markdownify}}</h2>
      </div>
      <div class="col-12">
        <div class="swiper brand-carousel">
          <div class="swiper-wrapper">
            {{ range .logos }}
            <div class="swiper-slide brand-item d-flex align-items-center justify-content-center">
              {{ partial "image" (dict "Src" . "Alt" "Brands logo" "Size" "x35") }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- clients_logo_slider -->

<!-- feature -->
{{ with .Params.feature }}
{{ if .enable }}
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 mb-5 mb-xl-0">
        <div class="pe-0 pe-xl-3">
          <h2 class="section-title h3 mb-4">{{ .title | markdownify }}</h2>
          <div class="content mb-4">
            {{.content | markdownify}}
          </div>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | safeURL }}" title="{{ .label }}" class="btn btn-outline-primary">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-xl-8">
        <div class="row gx-md-5 gy-5">
          {{ range .feature_item }}
            <div class="col-md-6">
              <div class="feature-card is-hoverable bg-white rounded-1 d-block d-sm-flex">
                <i class="icon {{.icon}} text-primary mb-4"></i>
                <div class="block">
                  <h4 class="mb-3 h5">{{ .name | title }}</h4>
                  <p class="mb-0">{{ .content | markdownify }}</p>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /feature -->

<!-- intro_video -->
{{ with .Params.intro_video }}
{{ if .enable }}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 text-center">
        <h2 class="section-title h3">{{ .title | markdownify }}</h2>
        <div class="content mb-5">
          {{.content | markdownify}}
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-9">
        <div class="has-video rounded-2 shadow video-loader">
          <button type="button" class="video-loader-btn rounded-2" data-src="{{.video_url}}">
            <i class="fas fa-play"></i>
          </button>
          {{ partial "image" (dict "Src" .video_thumbnail "Alt" "video thumbnail" "Size" "850x" "Class" "w-100 video-thumb rounded-2") }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /intro_video -->

<!-- Courses for Future Leaders -->
<!-- {{ partial "our-courses.html" . }} -->

<!-- service -->
{{ with .Params.service }}
{{ if .enable }}
{{ range $i, $p := .service_item }}
<section class="section {{if not (modBool $i 2)}}bg-light{{end}}">
  <div class="container">
    <div class="row align-items-center gy-5">
      <div class="col-lg-6 {{if not (modBool $i 2)}}order-lg-1{{else}}order-lg-0{{end}} order-1">
        <div class="pe-0 pe-lgy-5">
          <h2 class="section-title h3">{{ .title | markdownify }}</h2>
          <p class="mb-4">{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" title="{{ .label }}" class="btn-link">{{ .label }} <i class="fas fa-arrow-right"></i></a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-lg-6 {{if not (modBool $i 2)}}order-lg-0{{else}}order-lg-1{{end}} order-0">
        {{$cl := gt (len .images) 1}}
        {{if $cl}}<div class="swiper single-slider">{{end}}
          {{if $cl}}<div class="swiper-wrapper">{{end}}
            {{ $title:= .title }}
            {{ range .images }}
            <div class="swiper-slide">
              {{ partial "image" (dict "Src" . "Alt" $title) }}
            </div>
            {{ end }}
          {{if $cl}}</div>{{end}}
          {{if $cl}}<div class="swiper-pagination"></div>{{end}}
        {{if $cl}}</div>{{end}}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /service -->

{{with .Params.testimonials}}
{{if .enable}}
<section class="section bg-light">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6 mx-auto">
        <div class="text-center">
          <h2 class="section-title h3">{{.title | markdownify}}</h2>
          <p>{{.content | markdownify}}</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="swiper testimonial-carousel">
          <div class="swiper-wrapper mb-3">
            {{range .testimonials_quotes}}
            <div class="swiper-slide text-center">
              <p class="lead mb-5 text-dark">{{.quote}}</p>
              {{ partial "image" (dict "Src" .image "Alt" .name "Size" "90x" "Class" "rounded-circle mb-3") }}
              <h5 class="mb-1">{{.name | markdownify}}</h5>
              <p>{{.designation | markdownify}}</p>
            </div>
            {{end}}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

<!-- tools_intregrate -->
{{ with .Params.tools_intregrate }}
{{ if .enable }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center mx-auto">
        <h2 class="section-title h3">{{ .title | markdownify }}</h2>
        <p>{{.content | markdownify}}</p>
      </div>
      <div class="col-12 text-center">
        {{ range .tools }}
        <div class="is-hoverable p-4 shadow rounded-2 d-inline-block m-3" style="background-color: #fff;">
          {{ partial "image" (dict "Src" . "Alt" . "Size" "x45" "Class" "w-100 rounded-2") }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <!-- <div class="section pb-0">
    {{ partial "image" (dict "Src" .image "Alt" "call to action" "Class" "w-100") }}
  </div> -->
</section>
{{ end }}
{{ end }}
<!-- /tools_intregrate -->

<!-- call to action -->
{{ with .Params.call_to_action }}
{{ if .enable }}
<section class="section">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-lgy-5 col-md-7">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        {{with .content }}<p class="mb-4">{{ . | markdownify }}</p>{{ end }}
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | relLangURL }}" title="{{ .label }}" class="btn btn-primary">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /call to action -->

{{ end }}